{% extends 'base.html' %}

{% block content %}
    <center><h1>About The Author</h1></center>
    <p>Hello and welcome, this page will tell you a little bit more about my
        interests within computer science. I am interested in Machine Learning and
        Virual Reality. Both of these are extremely fasinating as they each have
        so much more that needs to be discovered. Within Machine Learning we have seen
        self driving cars, but what else can be done? I believe the possibility is 
        so much greater than we have seen. Then with VR we have barely scratched the
        surface. Haptics are the next step which is very facinating. Some of the new
        VR games are incredible and have neat hand tracking. Truely it is some amazing
        Technology. These are some of my interests and I hope you enjoy the website.</p>
{% endblock content %}