{% extends 'base.html' %}

{% block content %}
<center><h1>Welcome</h1></center>
<blockquote><h3>Today could be the beginning of someting great, we just have to believe.</h3></blockquote>
<blockquote><h3>One simple task each day makes a difference.</h3></blockquote>
<blockquote><h3>Enough small tasks and we may complete a big task.</h3></blockquote>
<blockquote><h3>This is how we make a difference.</h3></blockquote>
<blockquote><h3>This is how we make something great.</h3></blockquote>

<center><h2>Other Page Links Below</h2></center>
{% if user.is_authenticated %}
    <ul>
        <li><h2><a href="{% url 'home' %}">Welcome Page</a></h2></li>
        <li><h2><a href="{% url 'blog' %}">Blog Page</a></h2></li>
        <li><h2><a href="{% url 'jupiter' %}">Jupiter</a></h2></li>
    </ul>
{% else %}
    <ul>
        <li><h2><a href="{% url 'home' %}">Welcome Page</a></h2></li>
        <li><h2><a href="{% url 'blog' %}">Blog Page</a></h2></li>
    </ul>
{% endif %}




<img src="https://wallpapercave.com/wp/D3r6gVH.jpg" alt="Snow Moutain" height="320" width="600" />

{% endblock content %}